.logobing {
  width: 150px;
}
.logologin {
  width: 30px;
}
.menu {
  width: 20px;
}
body {
  background-image: url('bg.jpg');
  background-size: cover;
}
.navigasion {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin-left: 120px;
}
.navigasion a {
  color: #ffffffcc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  text-decoration: none;
}
.navkananatas {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 20px;
  align-items: center;
  margin-right: 100px;
}
.conten {
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding: 5px 10px 5px 10px;
  /* border: 1px solid black; */
}
.cari {
  width: 500px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}
.button img {
  width: 10px;
  height: 10px;
}
.bungkuscari {
  border: 1px solid black;
  width: 600px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: white;
}
.masuk {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .navigasion a {
    display: none;
  }
}
